.qr-code-active {
  border-radius: 16px;
  background-color: #ddd;
  transition: background-color 100ms linear;
}

.qr-code-active:hover {
  background-color: #ccc;
}

.qr-code-active:active {
  background-color: #fff;
}